body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	height: 100vh;
    background-repeat: no-repeat;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
    text-align: center;
}

h1 {
	font-size: 36px;
	text-align: center;
	margin-top: 50px;
}

p {
	font-size: 45px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.member {
	flex-basis: 300px;
	margin: 20px;
	padding: 20
}